# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# testing
/coverage

# env
config.js
#.env
.temp

# production
/build

# misc
.DS_Store
#.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# files
attachments/

# sonar-scanner
.scannerwork

# sonar-properties
sonar-project.properties
debug.log

package-lock.json

# App
/data/tempo-data/
/data/loki-data/
/data/logs/